<!DOCTYPE html>

<html>
    <head>
    	<meta charset="utf-8">
		<title>Motif Scan Plus</title>
		<link rel="stylesheet" type="text/css" href="./bootstrap/css/cerulean.css">
	</head>

	<body>

    	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    	<script src="./bootstrap/js/bootstrap.js"></script>

    	<div class="container">

    		<h3><i><img src="http://i59.tinypic.com/2e53wd0.jpg" 
    			width="200", height="100">
    			&nbsp; &nbsp; &nbsp;
    			Your one stop for motif analysis!</i></a></h3>
			
			<hr>
		</div>

		<form enctype="multipart/form-data" method="post" action="/scan/">{% csrf_token %}

			<div class="form-group">
				<div class="col-lg-10 col-lg-offset-2">
					<button class="btn btn-default">Reset</button>
					<button type="submit" class="btn btn-primary">Start the scan!</button>
				</div>
			</div>
		</form>

	</body>
</html>