<html>
    <head>

      {% load staticfiles %}
    	<meta charset="utf-8">
		<title>Motif Scan Plus</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/cerulean.css' %}">


    </head>

     <body>
      	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    	<script src="{% static 'js/bootstrap.js' %}"></script>

    	<div class="container">

    		<h3><i>
        <img src="http://i59.tinypic.com/2e53wd0.jpg" width="200", height="100">
    			&nbsp; &nbsp; &nbsp;
    			Your one stop for motif analysis!</i></a></h3>
			
			<hr>

			<form class="form-horizontal" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<!-- {{ form.as_p}} -->
				<h4>Step 1. Please upload your sequence in FASTA format.</h4>
        <label for="id_seqType">Please choose either DNA or protein</label>
        <br>
        {{form.seqType}}
        <br>
				<div class="fieldWrapper">
          <label for="id_inputFile">FASTA file:</label>
					{{form.inputFile}}
				</div>

				<br>

        <label for="id_background">Please upload a background file (highly recommended). If not, your input sequences will be randomized<br> to serve as a background. 
        </label>
        <br>
        <br>
        <div class = "fieldWrapper">
          {{form.background}}
        </div>

        <br>

				<h4> Step 2. Please select a motif type to scan for </h4>
				<div class="fieldWrapper">
					{{form.motifType}}
				</div>

        <br>
        <br>

        <h4> If you already have a motif file that you want analyzed, upload it here.</h4>
				<div id = "motifOptions">

					<label for="id_dnaMotifUpload">Your DNA motif file:</label>
					<br>
					{{form.dnaMotifUpload}}
					<br>
					<a href="http://meme.nbcr.net/meme/examples/sample-dna-motif.meme-io"><b>Sample</b></a> DNA minimal motif format file.<br />
					<br>
					<label for="id_proteinMotifUpload">Protein motif:</label>
					<br>
					{{form.proteinMotifUpload}}
				</div>

				<br>

        <h4> Further options for analysis: </h4>

				<div class="fieldWrapper">
   					{{form.analysisOptions}}
   				</div>

        <h4>Note: Once you press submit, this page will be loading until the motif scan
          is done, so please be patient and do not hit refresh</h4>

				<div class="form-group">
      					<div class="col-lg-10 col-lg-offset-2">
        					<button class="btn btn-default">Cancel</button>
        					<button type="submit" class="btn btn-primary">Submit</button>
     					</div>
   				</div>

   				
   			</form>
   		</div>
   	</body>
</html>